<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DragonBallAdvanced.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>260562C528C765B400B2C119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>260562DE28C765B800B2C119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>260562E828C765B800B2C119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
